:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  color: rgb(161, 160, 160);
  font-size: 0.8rem;
  font-weight: 400;
}

button {
  border: 1px solid transparent;
  width: 12rem;
  height: 2rem;
  font-size: 1rem;
  font-family: inherit;
  background-color: transparent;
  border-color: white;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:disabled {
  filter: brightness(40%);
  cursor: not-allowed;
}

@media (hover: hover) {
  button:hover {
    border-color: rgb(105, 147, 224);
  }
}
